<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePhoto</servlet-name>
        <servlet-class>com.Controller.SavePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitComment</servlet-name>
        <servlet-class>com.Controller.SubmitComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>com.Controller.Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.Controller.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.Controller.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SavePerson</servlet-name>
        <servlet-class>com.Controller.SavePerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePerson</servlet-name>
        <url-pattern>/SavePerson/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePhoto</servlet-name>
        <url-pattern>/SavePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitComment</servlet-name>
        <url-pattern>/SubmitComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
